<div class="termo-uso">
    <h1 class="termo-uso__titulo">Termos de uso</h1>
    <div *ngIf="!disparouAcao; else templateRespostaAcao" data-testid="paragrafosTermo">
        <p class="termo-uso__paragrafo">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque egestas vel magna a auctor. In vel laoreet massa. Aenean vitae mi eu odio mollis efficitur. Nulla commodo porta ante sit amet pharetra. Praesent suscipit libero et felis tempor volutpat. Nullam eget nunc gravida sapien dictum iaculis. In tincidunt mauris at volutpat egestas.
        </p>
        <p class="termo-uso__paragrafo">
            Nam in enim magna. Phasellus et purus sed nisi bibendum consectetur ut a diam. Duis porttitor molestie finibus. Mauris venenatis malesuada nisl at pulvinar. Proin tristique purus a purus tempus sagittis. Phasellus nisi eros, cursus non lorem aliquam, laoreet ultrices ex. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam pulvinar placerat ultricies. Suspendisse potenti. Aenean ut tincidunt justo. Nunc eu congue arcu. Aenean tortor dui, placerat ac risus a, dignissim luctus lorem. Praesent laoreet et justo et euismod. Donec ullamcorper feugiat elit, vel bibendum ipsum tincidunt sed. Donec volutpat massa sed enim blandit lacinia.
        </p>
    </div>
    <ng-template #templateRespostaAcao>
        <p>Os termos foram <strong>{{respostaAcao}}</strong></p>
        <button (click)="voltar()" type="button">Voltar</button>        
    </ng-template>
    <div *ngIf="!disparouAcao" class="termo-uso__acoes">
        <button class="acoes__aceitar" (click)="responderTermo(true)" type="button">Aceitar</button>
        <button class="acoes__rejeitar" (click)="responderTermo(false)" type="button">Rejeitar</button>
    </div>
</div>