<div class="termo-uso">
    <h1 class="termo-uso__titulo">Termos de uso</h1>
    <div *ngIf="!disparouAcao; else templateRespostaAcao" data-testid="paragrafosTermo">
        <p class="termo-uso__paragrafo">
            {{termosUso}}
        </p>
    </div>
    <ng-template #templateRespostaAcao>
        <p>Os termos foram <strong>{{respostaAcao}}</strong></p>
        <button (click)="voltar()" type="button">Voltar</button>        
    </ng-template>
    <div *ngIf="!disparouAcao" class="termo-uso__acoes">
        <button class="acoes__aceitar" mat-stroked-button (click)="responderTermo(true)" type="button">Aceitar</button>
        <button class="acoes__rejeitar" mat-stroked-button (click)="responderTermo(false)" type="button">Rejeitar</button>
    </div>
    <div class="termo-uso__acoes">
        <button mat-stroked-button (click)="baixarComoArquivo()" type="button">Baixar</button>
    </div>
</div>